ul{list-style-type: none;
            color: blue;
            width: 150px;
            margin: 0;
        }

li{
    border: 1px solid blue;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
}