ul {
    list-style-type: none;
    width: 150px;
    margin: 0;
}
 li {
    background-color: blue;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    position: relative;
    text-align: center;
}
 li:hover {
    background-color: white;
    color: blue;
}
 li:nth-child(2)::before {
    content: "✈";
    position: absolute;
    right: 10px;
    color: rgb(38, 9, 203);
}
