.container
{
 float: left;
 width: 250px;
}
ul
{
 margin-top: 0px;
 width: 220px;
 list-style-type: none;
}
 li
{ 
 text-align: center;
 width: 20px;
 padding: 0.5px;
 margin-top: 5px;
 margin-left: 10px;
 float:left;
}
hr
{
 width: 89%;
 margin-left: 40px;
}
.grey
{
 color: rgba(128, 128, 128, 0.459);
}
.red
{
 color: red;
}
.purple
{
 color: purple;
}
.blue
{
 color: blue;
}